.not-found {
  display: flex;
  position: absolute;
  top: unset;
  right: unset;
  left: unset;
  bottom: unset;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}