.text {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 21px !important;
  width: 100%;
}

.error-text > input::placeholder {
  color: red !important;
}

.label {
  font-size: 28px;
}

.submit {
  background-color: green !important;
}

.reset {
  background-color: red !important;
}

.guest-form {
  text-align: center;
  margin-top: 100px !important;
  font-size: 22px;
}

.form {
  margin: auto;
  width: 50%;
  min-width: 320px;
}

.account-settings-form {
  margin-top: 50px !important;
  font-size: 22px;
}

.buttons-form {
  display: inline-block;
}

.register, .login, .update-account {
  background-color: green !important;
  width: 100% !important;
  font-size: 22px !important;
}

.login {
  margin-top: 10px !important;
}


.login-title {
  display: flex;
  justify-content: center;
}

.book-list {
  padding-left: unset;
}

.error {
  font-style: italic;
  font-weight: bold;
  color: red;
  font-size: 22px;
}

.password-require {
  line-height: 25px;
  display: flex;
}

