.notification {
  margin-top: unset;
  text-align: center;
  background-color: #bc0000;
  font-weight: bold;
  opacity: 1;
  padding-right: 58px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-family: 'Comic Sans MS';
}

.notification-success:before {
  display: none;
}

.notification-error:before {
  display: none;
}

.notification-container {
  padding: unset;
  width: 50%;
  margin-right: 25%;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s;
}